.Navbar{
    display: flex;
    height: 70px;
    font-size: 17px;
    font-weight: 500;
    font-family: "Doppio One", serif;
    justify-content: center;
    /* background-color: #61dafb81; */
    color: #fff;
    font-weight: 500  ;
  }
  
  .navbar-items{
    display: flex;
    width: 50vw;
    justify-content: flex-end;
    /* padding-right: 20px; */
    /* justify-content: ; */
  }
  
  .navbar-items>ul{
    display: flex;
    align-items: center;
    gap: 14px;
  
  }
  .navbar-items ul li{
    text-decoration: none;
    list-style: none;
    cursor: pointer;
  }
  
  .logo{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    width: 40vw;
    font-size: 18px;
    font-weight: bolder;
    /* padding-left: 40px; */
    /* background-color:purple; */
  
  }
  
  